<footer>
   <div class="content">
    <div class="social-media">
        <img src="../../assets/icons/linkedin.png" alt="">
        <img src="../../assets/icons/youtube.png" alt="">
        <img src="../../assets/icons/instagram.png" alt="">
        <img src="../../assets/icons/twitter.png" alt="">
    </div>
    <div class="separator"></div>
    <div class="contact-info">
       <div>
            <img src="../../assets/icons/phone.png" alt="contact">
            <p>+49 642128-20</p>
       </div>
       <div>
            <img src="../../assets/icons/email.png" alt="email">
            <p>info&#64;kafila.com</p>
       </div>
       <div>
            <img src="../../assets/icons/location.png" alt="location">
            <p>Philipps-Universität Marburg <br>
                Biegenstraße 10 <br>
                35037 Marburg</p>
       </div>
    </div>
   </div>
    <p class="copyright">&copy; Kafila 2024</p>
</footer>