<div class="overlay"  (click)="toggleMenuEvent()">
    <section class="d-flex flex-column d-lg-none position-absolute p-4 menu" (click)="preventClose($event)">
        <button class="close-btn" (click)="toggleMenuEvent()">
            <img src="../../assets/icons/close-gray.png" alt="">
        </button>
        <nav>
            <a href="#why-kafila" class="list-item" (click)="toggleMenuEvent()">
                <span>WHY KAFILA?</span>
                <div class="arrow">
                    <img src="../../assets//icons/arrow-right.png" alt="visit">
                </div>
            </a>
            <a href="#expense-management" class="list-item" (click)="toggleMenuEvent()">
                <span>EXPENSE MANAGEMENT</span>
                <div class="arrow">
                    <img src="../../assets//icons/arrow-right.png" alt="visit">
                </div>
            </a>
            <a href="#footer" class="list-item" (click)="toggleMenuEvent()">
                <span>Contact Us</span>
                <div class="arrow">
                    <img src="../../assets//icons/arrow-right.png" alt="visit">
                </div>
            </a>
        </nav>
        <div class="d-flex flex-column gap-3 button-container w-100 mt-auto">
            <button class="menu-button main" (click)="toggleAuthModalEvent()">SIGN IN/SIGN UP</button>
            <button class="menu-button secondary">REQUEST DEMO</button>
           </div>
    </section>
</div>