<app-header></app-header>
<app-banner-group></app-banner-group>
<section class="stats-container">
    <section class="p-5 d-flex justify-around stats-group">
        <div class="stats">
            <h4>8000+</h4>
            <p>Satisfied Distributors</p>
        </div>
        <div class="stats">
            <h4>20000+</h4>
            <p>Satisfied Clients</p>
        </div>
        <div class="stats">
            <h4>1000000+</h4>
            <p>Bookings Every Month</p>
        </div>
        </section>
</section>
<section class="consumer-section" id="why-kafila">
    <div class="section-head">
        <h3 class="">Designed For Everyone In The Organization</h3>
        <p>Our features and benefits are designed to meet everyone's needs.</p>
    </div>
    <div class="separator"></div>
    <div class="d-flex gap-4 align-items-center cards-group">
      <div class="first-two">
        <div class="consumer-info">
            <img src="../assets/icons/manager.png" alt="managers">
            <h4>Travel Managers</h4>
            <p>Who manages company's travel expense</p>
            <a class="consumer-link" href="">know more</a>
        </div>
        <div class="consumer-info">
            <img src="../assets/icons/broker.png" alt="managers">
            <h4>Travel Brokers</h4>
            <p>Who books for employees </p>
            <a class="consumer-link" href="">know more</a>
        </div>
      </div>
        <div class="consumer-info">
            <img src="../assets/icons/employee.png" alt="managers">
            <h4>Employees</h4>
            <p>Who travel for business</p>
            <a class="consumer-link" href="">know more</a>
        </div>
    </div>
</section>

<section class="usage" id="expense-management">
    <h2 class="heading">Why Use Kafila?</h2>
   <div class="usage-group">
    <div class="usage-card">
       <div class="icon-container">
        <img src="../assets/icons/expenses.png" alt="save expenses">
       </div>
        <h3>Save Expenses</h3>
        <p>Corporate expense management automation helps in reducing leakage in travel expense.</p>
    </div>
    <div class="usage-card">
        <div class="icon-container">
            <img src="../assets/icons/seamless.png" alt="seamless process">
           </div>
        <h3>Seamless Process</h3>
        <p>Same platform is used to record the entire travel expenses as well as other spends, making the process seamless.</p>
    </div>
   </div>
</section>

<section class="user-flow">
    <h2 class="heading">Get Started in Just 3 Steps</h2>
    <div class="steps-container">
        <div class="step">
            <div class="step-count">1</div>
            <div class="register"></div>
            <div class="info">
                <h3>Create Your Account Now</h3>
            <p>Get started by providing minimal details like employee size, organization name, etc.</p>
            <button class="register-btn">Create Now</button>
            </div>
        </div>
        <div class="step">
            <span class="step-count">2</span>
            <div class="distributor"></div>
            <div class="info">
                <h3>Set Up Employee-friendly Policy Guidelines</h3>
            <p>Gain most of the benefits by setting up employee-friendly policies (only Admin users).</p>
            </div>
        </div>
        <div class="step">
            <span class="step-count">3</span>
            <div class="earn"></div>
            <div class="info">
                <h3>Invite Your Employees & Start Booking</h3>
            <p>Invite your employees to Kafila so that they could enjoy all the corporate benefits.</p>
            </div>
        </div>
    </div>
</section>
<section class="customer-stories">
    <h2 class="heading">Customer Stories</h2>
    <div class="story-group">
    <div class="user-card">
        <div class="user-detail">
            <div class="user-image">
                <img src="../assets/icons/user.png" alt="">
            </div>
            <p>Rupesh Gupta</p>
        </div>
        <p>Based on our experience, we can out-rightly say that the response of myBiz team is worth appreciation. The team has been stupendously putting their best foot forward to resolve any query raised, even at odd hours, to maintain customer delight. This approach sets them apart. </p>
    </div>
    <div class="user-card">
        <div class="user-detail">
            <div class="user-image">
                <img src="../assets/icons/user.png" alt="user">
            </div>
            <p>Rupesh Gupta</p>
        </div>
        <p>Based on our experience, we can out-rightly say that the response of myBiz team is worth appreciation. The team has been stupendously putting their best foot forward to resolve any query raised, even at odd hours, to maintain customer delight. This approach sets them apart. </p>
    </div>
    <div class="user-card">
        <div class="user-detail">
            <div class="user-image">
                <img src="../assets/icons/user.png" alt="">
            </div>
            <p>Rupesh Gupta</p>
        </div>
        <p>Based on our experience, we can out-rightly say that the response of myBiz team is worth appreciation. The team has been stupendously putting their best foot forward to resolve any query raised, even at odd hours, to maintain customer delight. This approach sets them apart. </p>
    </div>
</div>
</section>

<section class="start-now">
<h2>Start Saving on Your Travel Budget.</h2>
<div class="btns">
    <button class="menu-button main">SIGN UP NOW</button>
    <button class="menu-button secondary">REQUEST DEMO</button>
</div>
</section>
<app-footer></app-footer>