<app-header></app-header>
<app-banner-group></app-banner-group>
<section class="stats-container">
    <section class="p-5 d-flex justify-around stats-group">
        <div class="stats">
            <h4>8000+</h4>
            <p>Satisfied Distributors</p>
        </div>
        <div class="stats">
            <h4>20000+</h4>
            <p>Satisfied Clients</p>
        </div>
        <div class="stats">
            <h4>1000000+</h4>
            <p>Bookings Every Month</p>
        </div>
        </section>
</section>
<section class="consumer-section">
    <div class="section-head">
        <h3 class="">Designed For Everyone In The Organization</h3>
        <p>Our features and benefits are designed to meet everyone's needs.</p>
    </div>
    <div class="separator"></div>
    <div class="d-flex gap-4 align-items-center cards-group">
      <div class="first-two">
        <div class="consumer-info">
            <img src="../assets/icons/manager.png" alt="managers">
            <h4>Travel Managers</h4>
            <p>Who manages company's travel expense
            </p>
        </div>
        <div class="consumer-info">
            <img src="../assets/icons/broker.png" alt="managers">
            <h4>Travel Brokers</h4>
            <p>Who books for employees </p>
        </div>
      </div>
        <div class="consumer-info">
            <img src="../assets/icons/manager.png" alt="managers">
            <h4>Employees</h4>
            <p>Who travel for business</p>
        </div>
    </div>
</section>