<section [class]="(animate ? 'animate ' : '') + 'banner-group'" [style.backgroundImage]="'url(' + '../../assets/'+ banners[selectedBannerIdx].image + ')'">
    <div class="content d-flex flex-column gap-5">
       <div class="banner-details">
       <!-- <div [class]="(animate ? 'animate ' : '') + 'banner-details'"> -->
          <div>
            <h1>Kafila For Business</h1>
            <h2>{{banners[selectedBannerIdx].title}}</h2>
            <p class="subtitle">{{banners[selectedBannerIdx].subtitle}}</p>
            <button class="main-btn">GET STARTED</button>
          </div>
          <!-- <div class="video-player d-none d-lg-block" (click)="toggleVideoModal()">
            <div class="banner-overlay"></div>
            <img class="video-banner" src="../../assets/video-banner.png" alt="">
            <button class="play-button">
                <img src="../../assets/icons/play.png" alt="play">
            </button>
          </div> -->
       </div>
       <div class="pills-container d-flex">
        <button *ngFor="let banner of banners; index as idx" [class]="'pill ' + (selectedBannerIdx === idx ? 'selected' : '')" (click)="selectBanner(idx)">
        </button>
       </div>
    </div>
</section>
<!-- <app-video-modal *ngIf="showVideo" (videoModalEvent)="toggleVideoModal()"></app-video-modal> -->